/* styles.module.css */
.intro_page {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Scrollbars appear only when needed */
    min-height: 100vh; /* Ensures a decent minimum height */
  }
  
  .video_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video stays behind other content */
  }
  
  .squircle > h1 {
    margin: 0;
    color: white;
  }
  
  .squircle > h4 {
    margin: 0;
    color: white;
  }
  
  .squircle {
    position: relative;
    display: inline-block;
    width: 40vw;
    max-width: 600px;
    padding: 80px 40px 100px;
    border-radius: 20px; /* Adjust this value to get the desired rounded corners */
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    z-index: 1; /* Ensure it stays above the video */
    transition: transform 0.3s ease-out; /* Smooth transformation */
  }
  
  .logo {
    width: 50%; /* Default width for desktop */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space below the logo */
  }

  .bounce_arrow {
    width: 50px; /* Adjust width as needed */
    height: auto; /* Keeps the aspect ratio of the image */
    position: absolute; /* Positioning can be adjusted as needed */
    bottom: 10px; /* Place it at the bottom or adjust as needed */
    left: calc(50% - 35px);
    transform: translateX(-50%); /* Centers the arrow horizontally */
    animation: bounce 2s infinite; /* Applies the bounce animation */
    cursor: pointer; /* Indicates a clickable item */
    border-radius: 2px; /* Rounded corners */
    padding: 1%;
    transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
  }
  
  .bounce_arrow:hover {
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.5); /* Faded white border */
    background-color: rgba(255, 255, 255, 0.3); /* Subtle background transparency */
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  @media (max-width: 768px) {
    .bounce_arrow {
      width: 50px; /* Adjust width as needed */
      height: auto; /* Keeps the aspect ratio of the image */
      position: absolute; /* Positioning can be adjusted as needed */
      bottom: 10px; /* Place it at the bottom or adjust as needed */
      left: calc(50% - 25px);
      transform: translateX(-50%); /* Centers the arrow horizontally */
      animation: bounce 2s infinite; /* Applies the bounce animation */
      cursor: pointer; /* Indicates a clickable item */
      border-radius: 2px; /* Rounded corners */
      padding: 1%;
      transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
      box-sizing: border-box;
    }

    .squircle {
      width: 90%; /* Adjust width to fit the screen */
      margin: 5%; /* Adjust margin to fit the screen */
      padding: 20% 20px; /* Adjust padding to fit the screen */
    }

    .squircle > h1 {
      font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    .squircle > h4 {
      font-size: 1em; /* Adjust font size for smaller screens */
    }

    .bounce_arrow:hover {
      box-shadow: initial; /* Faded white border */
      background-color: initial; /* Subtle background transparency */
    }

    .logo {
      width: 100%;
    }
  }