.student_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust minmax for your desired card width */
  gap: 20px;
  padding: 20px 100px;
  position: relative;  /* Ensures the position context is set for absolute positioning */
  overflow: visible; /* Allows the expanded card to overflow without scrollbars */
  background-color: #eef0f3;
}

.intro_page {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro_page > h1, .intro_page > h2 {
  margin: 0;
  color: white;
}